@model WebSite.Models.EntidadesBasedeDatos
@{
    ViewBag.Title = "Detalle";
}
<div class="jumbotron">
    <h1>Modifica Detalle de Factura </h1>
    <h2>Se modifica un detalle (linea) de una factura</h2>
    <p>Se debe indicar con detalle cual es el registro que se desea eliminar</p>
    <p>
        <a id="consulta" href="../Consulta" class="btn btn-primary btn-lg">Regresar a Consulta Maestro &raquo;</a>
        <a id="Borra" href="" class="btn btn-primary btn-lg">Borrar linea de detalle &raquo;</a>
    </p>
</div>

<div>
    <h2>Consulte los detalles de una factura</h2>
    <p>Ingrese el número de factura y podra ver los detales de la misma</p>
</div>
@using (Html.BeginForm("ObtenerDetalles", "Detalle", FormMethod.Get))
{
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered">
                <tr>
                    <th>Factura Numero:</th>
                    <th>Descripción:</th>
                    <th>Precio:</th>
                    <th>Cantidad:</th>
                    <th>Subtotal:</th>
                </tr>
                <tr>
                    <td>
                        @foreach (string facturas in ViewBag.fac)
                        {
                            <ul class="table-bordered">
                                @facturas
                            </ul>
                        }
                    </td>
                    <td>
                        @foreach (string des in ViewBag.det)
                        {
                            <ul class="table-bordered">
                                @des
                            </ul>
                        }
                    </td>
                    <td>
                        @foreach (string precio in ViewBag.pre)
                        {
                            <ul class="table-bordered">
                                @precio
                            </ul>
                        }
                    </td>
                    <td>
                        @foreach (string cantidad in ViewBag.can)
                        {
                            <ul class="table-bordered">
                                @cantidad
                            </ul>
                        }
                    </td>
                    <td>
                        @foreach (string subtotal in ViewBag.sub)
                        {
                            <ul class="table-bordered">
                                @subtotal
                            </ul>
                        }
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div>@Html.LabelFor(x => x.Nofactura)</div>
            <div>@Html.TextBoxFor(x => x.Nofactura)</div>
        </div>
        <div class="form-group">
            <input type="submit" typeof="Enviar" ; />

        </div>
        <div class="alert-info">
          
        </div>

    </div>
}
@using (Html.BeginForm("Eliminar", "Detalle", FormMethod.Post))
{
<div>
    <form onsubmit="alert('Se eliminará el Registro');return false">
        <div class="row">
            <div class="form-group">
                <div>@Html.LabelFor(x => x.Nofactura)</div>
                <div>@Html.TextBoxFor(x => x.Nofactura)</div>
                <div>@Html.LabelFor(x => x.Detalleproducto)</div>
                <div>@Html.TextBoxFor(x => x.Detalleproducto)</div>
                <div>@Html.LabelFor(x => x.Cantidad)</div>
                <div>@Html.TextBoxFor(x => x.Cantidad)</div>
                <div>@Html.LabelFor(x => x.Precio)</div>
                <div>@Html.TextBoxFor(x => x.Precio)</div>
            </div>
            <div class="form-group">
                <input type="submit" typeof="Enviar" value="Eliminar Registro" class="btn-danger" onclick="Action(); return false;" />

            </div>
        </div>
        <div class="alert-success">
            @ViewBag.aviso
        </div>
    </form>
</div>
}
   
 <script>
        function Action() {
            
            var resultado = window.confirm('Se eliminará de manera permanente el registro');
            if (resultado === true)
            {
            } else {
                window.alert('No se eliminará');
            }
        }
    </script>



